<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="college.root.vi12">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".HomePageActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Student.StudentProfile.UserProfile" />
        <activity android:name=".Student.StudentProfile.EditProfileActivity" />
        <activity android:name=".AdminActivities.TimeTable.TableActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".Miscleneous.MyReciever">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".DecidingActivity" />
        <activity android:name=".AdminActivities.UploadSubjects.UploadSubjectsActivity" />
        <activity android:name=".Student.MySubjects.MySubjectsActivity" />
        <activity
            android:name=".TestActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".AdminActivities.Facultyload.FacultyLoadActivity" />
        <activity android:name=".AdminActivities.AdminActivity" />
        <activity
            android:name=".AdminActivities.LocationEntry"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AdminActivities.TimeTable.PreTimeTableSetup" />
        <activity
            android:name=".AdminActivities.TimeTable.TimeTableDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Faculty.SearchStudentActivity" />
        <activity android:name=".Faculty.FacultyProfile.FacultyProfileActivity" />
        <activity android:name=".Faculty.FacultySubjects.FacultySubjectsActivity" />
        <activity android:name=".Faculty.FacultyProfile.EditFacultyActivity" />
        <activity android:name=".Faculty.FacultyLogin.FacultyLogin" />
        <activity android:name=".Faculty.FacultyLogin.FacultyRegistrationActivity" />

        <service
            android:name=".Faculty.Background_Services.FacultyFetchUpdateService"
            android:exported="false" />

        <activity android:name=".Faculty.FacultySubjects.RechedulingActivity" />

        <service
            android:name=".Student.BackgroundServices.StudentIntentService"
            android:exported="false"></service>
    </application>

</manifest>